html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  min-width: inherit;
}

body {
  line-height: 1.5;
  margin: 0 10% 0 10%;
  /* include your font family and default line-height */
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  /* display: flex; */
  align-items: center;
  padding: 1rem .5rem;
}

header nav ul {
  justify-content: center;
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0 auto;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

/* section { */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

a {
  border: .2rem solid rgba(55, 131, 163, .4);
  color: #3783a3;
  text-decoration: none;
  padding: .5em 1em .6em;
  margin-top: auto;
  border-radius: .3rem;
}

/* article { */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  text-align: center;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */




/* Add media query for desktop */
